<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi,</p>
    <p>Thanks for signing up for a Jobman account.</p>
    <p>Please click the link below to activate your account:</p>
    <a href="{{ server }}/activated/{{ token }}">link</a>
    <p>
      Please note that this link will expire in 3
      days.
    </p>
    <p>Thanks,</p>
    <p>The Jobman Team</p>
  </body>
</html>